
@media (max-width:922px) {
    .title-img-sec{
        display: none;
    }
}
body{
    font-family: 'montserrat';
}
#title{
    background-color: #FF4260;
}
.container-fluid{
    padding: 3% 15% 5%;
}
h1{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}
h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 600;
}
h3{
    font-family:'Montserrat' ;
    font-weight: 600;
}
p{
    font-family:'Montserrat' ;
    color: rgb(148, 138, 138);
}
em{
    font-family: 'Montserrat';
}


/* title */
.title-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    left: 60%;
}


/* navbar */
.navbar{
    padding: 0 0 3rem;
}
.navbar-brand{
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* future */
#features{
    position: relative;
    background-color: white;
    padding: 7% 15%;
}
.feature-box{
    padding: 4.5%;
    text-align: center;
}
.icons{
    color: #ef8172;
    margin-bottom: 1rem;
 }
 .icons:hover{
     color: #FF4c68;
 }
/* download buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}
/* testimonials */

#testimonials
{
    color: #fff;
    background-color: #ef8172;
    text-align:center;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
   width: 10%; 
   border-radius: 100%;
   margin: 20px;
}
/* press section */
#press{
    background-color: #ef8172;
    text-align: center;
    padding: 3% ;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
    
}